* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
    text-transform: capitalize;

}
::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar:hover {
    width: 15px;
    
  }
  ::-webkit-scrollbar-thumb {
    background: red; 
    position: fixed;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #675a5a; 
  }

a {
    text-decoration: none;
}

body {
    color: white;
    background-color: rgb(31, 30, 30);
}

.navbar {
    position: sticky;
    top: 0;
    /* width: 100%; */
    padding: 15px 11%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background: linear-gradient(black, rgba(26, 24, 24, 0.486));
    z-index: 9;
    box-shadow: 0 1px 30px 0px rgba(248, 248, 247, 0.062);

}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');


.logo a {
    font-family: "Dancing Script", cursive;
    color: rgb(226, 209, 81);
    font-size: 2rem;
    text-shadow: 0 0px 50px rgba(0, 0, 255, 0.949);
    font-weight: 600;
}

.logo img {
    height: 50px;
    display: inline-block;
    margin: 0 4px;
}

.menu a {
    font-size: 1.1rem;
    color: aqua;
    padding: 10px 20px;
    border-radius: 20px;
    margin-right: 10px;
    box-shadow: 0 1px 30px 0px rgba(87, 15, 255, 0.041);
    /* position: relative; */
    overflow: hidden;
    display: inline-block;
    animation: silde .4s linear;

}

.drop {
    position: relative;
    display: inline-block;
}

.dropdown {
    list-style: none;
    text-align: left;
    width: 200%;
    background-color: rgb(33, 23, 23);
    position: absolute;
    transition:ease-in-out .4s ;
    transform-origin: top;
    transform: scaleY(0);
}

.drop:hover ul.dropdown {
    display: block;
    transform: scaleY(1);
}

.dropdown li {
    display: block;
    border: 1px solid wheat;
    padding: 15px;
}
.dropdown li:hover{
    background-color: white;
    color: black;
}

.menu a:hover {
    color: gold;

}

/* side menu bar style */
.mobile-menu-bar{
    display: none;
}

.mobile-menu-bar i{
    font-size: 1.6rem;
    padding: 10px;
    border-radius: 10px;
}
.mobile-menu-bar i:hover{
    color: goldenrod;
}

.menu-bar{
    width: 100%;
    max-width: 100%;
    max-height: 450px;
    height: 80vh;
    position: absolute;
    left: 0;
    top: 0;
    background:linear-gradient(black, rgb(124, 111, 111));
    z-index: 99;
    transition: ease-in-out .4s;
    transform: translateY(-110%)
}
.menu-bar-out{
    transform: translateY(0%);
}

.menu-bar-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 10px;
}
.menu-bar button{
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 0px 3px;
    
}
.menu-bar-content a{
    margin: 10px!important;
    border: none!important;
    width: 80%;
}

.container {
    padding: 0 13%;
    min-height: 100vh;
}

/* style for home section */
.home {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.home-bx {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;

}

.home-content {
    width: 60%;
}

.home-img {
    margin-top: 2%;
    width: 25%;
    animation: motion 4s linear infinite;
}

@keyframes motion {
    0% {
        transform: translateY(20px);
    }

    50% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(20px);
    }
}

/* style for home text */
.home-content * {
    margin: 0 0 20px 0;
}

.home-content h1 {
    font-size: 2.9rem;
}

.home-content p {
    font-size: 1.1rem;
    line-height: 2rem;
}

.home-content h3 {
    font-size: 1.8rem;
}

/* wrapper text styling */
.wrapper {
    display: flex;
    margin: 0;
    align-items: start;
    overflow: hidden;
    height: 50px;
}

.dynamic-text {
    margin-left: 15px;

}

.dynamic-text li {
    list-style-type: none;
    font-size: 1.8rem;
    color: rgb(36, 119, 207);
    position: relative;
    font-weight: 600;
    top: 0;
    animation: slide 12s steps(4) infinite;
}

@keyframes slide {
    100% {
        top: -210px;
    }

}

.dynamic-text li::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    border-left: 1px solid yellow;
    animation: typing 3s steps(14) infinite;
    background-color: rgb(31, 30, 30);

}

@keyframes typing {
    100% {
        left: 110%;
    }
}

.btn a {
    border: 1px solid aqua;
    padding: 10px 20px;
    color: aqua;
    margin-right: 10px;
    position: relative;
    overflow: hidden;
    transition: ease-in-out .1s;
    background: transparent;
    border-radius: 10px;
    display: inline-block;

}

.btn a::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: linear-gradient(to right, rgb(90, 89, 167), rgb(85, 77, 158));
    transform: scaleX(0);
    z-index: -2;
    transition: ease-in-out .4s;
}

.btn a:hover::before {
    transform: scaleX(1);
}

.btn a:hover {
    font-weight: 500;
}

.icon a i {
    border: 1px solid aqua;
    font-size: 1.2rem;
    color: aqua;
    padding: 10px;
    margin-right: 5px;
    border-radius: 50%;
    /* animation: boom 1s linear infinite; */
}

.icon a i:hover {
    background-color: aqua;
    color: black;
}

.about {
    background: linear-gradient(black, rgb(40, 38, 38));
    display: flex;
    justify-content: center;
    align-items: center;
    /* z-index: -2; */
    
}


.about-bx {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    z-index: 2;
}

.about-bx .about-img {
    width: 22%;
}

.about-bx .about-content {
    width: 65%;
}

.about-content * {
    margin-bottom: 1.3rem;
}

.about-content h2 {
    font-size: 2.5rem;

}

.about-content h4 {
    font-size: 1.6rem;
}

.about-content p {
    font-size: 1.2rem;
    text-align: justify;
    line-height: 2rem;
}

.service {
    background: linear-gradient(black, rgb(40, 38, 38));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.heading h2 {
    text-align: center;
    margin: 2rem 0 2rem 0;
    font-size: 2.5rem;
}

.service-bx {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
}

.service-content {
    width: 31%;
    background: linear-gradient(rgb(29, 27, 27), rgb(48, 45, 45));
    padding: 25px;
    border-radius: 15px;
    text-align: center;
    transition: ease-in-out .4s;
}

.service-content * {
    margin: 10px 0;
}

.service-content i {
    font-size: 2.5rem;
}

.service-content h3 {
    font-size: 1.6rem;
}

.service-content p {
    line-height: 1.4rem;
    margin-bottom: 0px;
}

.service-content:hover {
    outline: 2px solid blueviolet;
    scale: 1.03;
}

.project {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(rgb(0, 0, 0), rgb(41, 40, 40));

}

.project-bx {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

.project-content {
    width: 31%;
    position: relative;
    display: flex;
    overflow: hidden;
    border-radius: 1.5rem;
    box-shadow: 0 0 20px black;
    margin: 1rem 0;
}

.project-content img {
    transition: ease-in-out .5s;

}

.project-content:hover img {
    scale: 1.08;
}

.project-content .project-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(173, 167, 167, 0.753));
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    transform: translateY(120%);
    transition: ease-in-out .4s;
    padding: 0 1.5rem;

}

.project-layer h4 {
    font-size: 1.8rem;
    margin: 10px;
}

.project-layer a i {
    border: 2px solid rgb(184, 190, 207);
    padding: .8rem;
    border-radius: 50%;
    margin-top: 5px;
    color: aliceblue;

}

.project-content:hover .project-layer {
    transform: translateY(0%);
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(rgb(0, 0, 0), rgb(41, 40, 40));
    padding: 0 23%;
}
.contact-bx form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.contact-input {
    width: 48%;
}
.contact-input input,textarea {
    width: 100%;
    color: aliceblue;
    border: none;
    outline: none;
    padding: 13px 20px;
    margin: 1.1rem 0;
    font-size: 1.1rem;
    border-radius: 10px;
    background: linear-gradient(to right, rgb(54, 53, 53), rgb(85, 33, 33));
}

.text-message {
    width: 100%;
}
.btn{
    z-index: 3;
}

#contact-btn {
    margin: 15px auto;
}

.footer {
    text-align: center;
}

.footer * {
    margin: 5px 0;
    font-size: small;
}

.footer-head h5 {
    font-size: 1.6rem;
    margin-top: 15px;
}

.whatsapp {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 20;
}

.whatsapp a {
    font-size: 1.7rem;
    color: rgb(186, 206, 114);
    border: 1px solid rgb(255, 253, 251);
    padding: 6px 10px;
    border-radius: 50%;
    animation: boom 1.5s linear infinite;
}

@keyframes boom {
    0% {
        box-shadow: 0 0 0 15px rgba(255, 255, 255, 0.211);
    }

    50% {
        box-shadow: 0 0 0 5px transparent;
    }

    100% {
        box-shadow: 0 0 0 15px rgba(245, 222, 179, 0.249);
    }
}